#grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,15rem);
    gap: 3rem;
    padding: 3rem;
    background-color: yellow;
    grid-template-areas: 
        "p p . ."
        "p p . ."
        ". b b b"
    ;
}

#preta{
    background-color: black;
    grid-area: "p";
}

#branca{
    background-color: white;
    grid-area: "b" ;
}

/*@media screen and (min-width: 1024px){
    #grid-container{
        grid-template-areas: ;
    }
}*/